*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.captcha-container{
    background-color: coral;
    max-width: 400px;
    width: 80%;
    max-height: 100vh;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10% auto;
    position: relative;
}
@media screen and (max-width: 540px) {
 .captcha-container{
    width: auto;
    height: 100vh;
    margin: 40px auto;
 }   
}
.captcha-wrapper{
    background-color: rgb(10, 25, 5);
    color: #fff;
    max-width: 500px;
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 27%;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 540px) {
    .captcha-wrapper{
        max-width: 400px;
       width: 100%;
       height: auto;
       position: absolute;
       margin: auto;
       left: 0;
       text-align: start;
       
    }   
   }

.captcha{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 15px;
    color: darkslategrey;
    text-decoration: line-through;
}   

.repeat-wraper{
    position: absolute;
    right: 0;
    top: 27%;
    z-index: 1;
    background-color: grey;
    font-size: 20px;
    font-weight: bold;
    padding: 18.5px 21px;
    width: auto;
    height: auto;
    left: 85%;
}
.repeat-wraper:hover{
    background-color: rgb(10, 40, 2);
    color: white;
}
@media screen and (max-width: 540px) {
    .repeat-wraper{
       position: absolute;
       right: 0;
       left: 85%;
       margin: auto;
       width: auto;
       height: auto;
    }   
}   
.fa-repeat{
    position: absolute;
    right: 0;
    color: white;
    font-size: 20px;
    z-index: 3;
    font-weight: bold;
    padding: 16.5px 10px;
    width: auto;
    height: auto;
    top: -6px;
    cursor: pointer;
    transition: all 0.6s;
}
.fa-repeat:hover{
    color: magenta;
    transform: rotate(1turn) scale(0.5);
}
@media screen and (max-width: 540px) {
    .fa-repeat{
       width: auto;
       height: auto;
       margin: auto;
    }   
   }
   
.user-textarea-container{
position: absolute;
top: 55%;
background: gray;
max-width: 500px;
width: auto;
padding: 10px;
height: auto;
border: none;
outline: none;
margin: auto;

}
@media screen and (max-width: 540px){
    .user-textarea-container{
       width: auto;
       height: auto;
       margin: auto;
    }   
   }
   

#mylabel{
    position: absolute;
    bottom: 50%;
    top: 40%;
    font-size: 21px;
    padding: 5px;
    text-align: center;
    margin: auto;
    width: 100%;
    height: fit-content;
}
#textbox:hover{
    background-color: silver;
    color: black;
    transition: background-color 0.6s ;
}
#textbox{
    padding: 10px;
    width: auto;
    background: black;
    color: white;
    border: none;
    outline: none;
    font-size: 15px;  
    margin: auto;  
}
@media screen and (max-width: 540px) {
    #textbox{
       width: auto;
       height: auto;
       margin: auto;
    }   
   }
@media screen and (max-width: 540px) {
 #btn{
    width: auto;
    height: auto;
    margin: auto;
 }   
}
#btn{
    padding: 10px;
    margin: auto;
    margin-left: -4px;
    cursor: pointer;
    transition:all 0.9s;
    font-size: 15px;
    width: auto;
    border: none;
    outline: none;
}

#btn:hover{
    background-color: rgb(10, 40, 2);
    color: white;
}
#submit{
    position: absolute;
    bottom: 15%;
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    outline: none;
    background: aquamarine;
    color: blue;
    font-weight: bold;
    transition: color 0.7s;
    cursor: pointer;
    width: auto;
    height: auto;
}
#submit:hover{
    background-color: grey;
    color: gold;
    transition: all 0.7s;
}
.chartz{
    position: absolute;
    top: 1%;
    padding: 5px;
    background-color: silver;
    color: coral;
    font-size: 21px;
    font-weight: bold;
}